h1 {
  display: flex;
  justify-content: center;
}

h2 {
  display: flex;
  justify-content: center;
}

body {
  margin: 0 auto;
  padding: 1%;
}

.billede {
  display: grid;
  grid-template-columns: 1fr 1fr;
  gap: 5%;
}

.div1 {
  display: grid;
  grid-column: 1/2;
}

.div2 {
  display: grid;
  grid-column: 2/2;
}

img {
  width: 100%;
  height: 100%;
}

article {
  padding-top: 5%;
}

footer {
  display: flex;
  justify-content: center;
  padding-top: 5%;
}
